.heroSwipper {
  width: 100%;
  height: 450px;
}

.slideBox {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slideBox img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination {
  display: flex !important;
  align-items: center !important;
  gap: 10px;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #fff !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  position: relative !important;
  width: 48px !important;
  height: 48px !important;
}

.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  background: #95bef3;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.slide__img {
  width: 400px !important;
}

/* Laptop L */
@media (max-width: 1199.5px) {
  .slide__title {
    font-size: 40px;
  }

  .slide__subtitle {
    font-size: 15px;
  }
}

/* Laptop */
@media (max-width: 991.5px) {
  .slide__img {
    width: 350px !important;
  }

  .slide__title {
    font-size: 38px;
  }
}

/* Tablet */
@media (max-width: 767.5px) {
  .swiper{
    height: 400px;
  }

  .slide__title {
    font-size: 30px;
  }

  .slide__subtitle {
    font-size: 14px;
  }

  .slide__img {
    position: absolute;
    height: 300px !important;
    bottom: 0;
    right: 0;
  }

  .slide__box {
    height: 400px;
  }
  
  .slideBox {
    height: 400px;
    padding-top: 20px;
    align-items: start;
  }

  .slide__btn {
    width: 151px;
  }

  .heroSwipper {
    max-height: 400px;
  }
}

/* Mobile */
@media (max-width: 575.5px) {
  .slide__title {
    font-size: 22px;
    color: #203f68;
  }

  .slide__subtitle {
    font-size: 11px;
    color: #203f6899;
  }

  .slide__btn {
    width: 111px;
    font-size: 12px;
    font-weight: 400;
  }

  .slide__img {
    bottom: -10px;
    height: 250px !important;
  }

  .slideBox {
    height: 300px;
  }

  .heroSwipper {
    max-height: 300px;
  }

  .slide__box {
    height: 300px;
  }

  .swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
  }

  .swiper-pagination-bullet-active::before {
    width: 10px !important;
    height: 10px !important;
  }

  .swiper-pagination-bullet-active {
    position: relative !important;
    width: 22px !important;
    height: 22px !important;
  }

  .swiper-wrapper:nth-child(1) .slide__img{
    height: 230px !important;
    width: 250px !important;
  }
}
